@import url(https://fonts.googleapis.com/css?family=Share:400,700&subset=latin,latin-ext);

@font-face {
    font-family: "stalinistoneRegular";
    src: url("/fonts/StalinistOne-Regular.ttf");
}

.stalinistoneRegular {
    font-family: "stalinistoneRegular", sans-serif;
}

@font-face {
    font-family: "montserratsubrayadaRegular";
    src: url("/fonts/MontserratSubrayada-Regular.ttf");
}

.montserratsubrayadaRegular {
    font-family: "montserratsubrayadaRegular", sans-serif;
    text-align: justify;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font: 0.75em/1.5 sans-serif;
    background: #FFE500;
}


.tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tabs__item {
    width: 100%;
    float: left;
}

@media screen and (min-width: 40em) {
    .tabs__item {
        display: table-cell;
        float: none;
        width: auto;
    }
}

.tabs__link {
    display: block;
}


/*START OF NAVIGATION*/


.primary-nav {
    text-align: center;
    border-radius: 0;
    overflow: hidden; 
}

.primary-nav a {
    padding: .75em 1em;
    color: #FFE500;
    background-color: #000;
    text-decoration: none;
    border-right: 1px solid #FFE500;
    border-bottom: 1px solid #FFE500;
    font-family: Share, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.75em;
}

.primary-nav a:hover {
    color: #000;
    background: #FFE500;
}


.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.disable-pointer-events {
    pointer-events: none !important;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media screen and (min-width: 40em) {
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
}

.nav-collapse {
    list-style: none;
    width: 100%;
    float: left;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-toggle {
    position: fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    text-indent: -999px;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 55px;
    float: right;
}

.nav-toggle:before {
    color: #000; 
    font-family: "responsivenav", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 28px;
    text-transform: none;
    position: absolute;
    content: "≡";
    text-indent: 0;
    text-align: center;
    line-height: 55px;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-toggle.active::before {
    font-size: 24px;
    content:"x";
}


/*END OF NAVIGATION*/


/*START OF BANNERS DESIGN*/

.widget {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.center {
    position: relative;
    margin: auto;
}

.text h1 {
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    color: #FFE500;
    margin: 35px;
    font-family: Share;
    font-size: 18vw;
}

.widget1 {
    background-color: #000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.text p {
    text-align: center;
    color: #FFE500;
    font-family: Share;
    margin: 35px;
    font-size: 2vw;
}


/*END OF BANNERS DESIGN*/


/* START OF TIMELINE */


body {
  font-size: 1em;
  font-family: Share;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #FFCF33;
}

a:hover {
  color: #ffc813;
}

a:visited {
  color: #FFE500;
}

.masthead,
.introduction,
.location,
.questions,
.content-footer {
  padding-left: 2em;
  padding-right: 2em;
}

.masthead-intro,
.masthead-heading,
.content-footer > p,
.social {
  text-align: center;
}

.introduction,
.location,
.questions {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}

.introduction > p,
.location > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.masthead {
  padding: 6em 0;
}

.masthead-intro {
  margin-bottom: 0.1em;
  color: #000;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
}

.masthead-heading {
  margin-top: -0.2em;
  color: #000;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 9em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-shadow: 0px 3px 0px #787878;
}

.heading {
  max-width: 19em;
  margin-top: 2em;
}

@media screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
}

h1 {
    text-align: center;
    font-family: Share;
    font-size: 4em;
    font-weight: 500;
    color: #000000;
}

h1 span {
    font-weight: 600;
}

.container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #000;
    z-index: 1;
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #000000;
    background: #FFE500;
    margin-top: 10px;
    z-index: 9999;
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #FFE500;
    background-color: #000;
}

.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
}

.timeline-content span {
    font-size: 15px;
    color: #ffedb0;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #FFCF33;
}

@media screen and (max-width: 768px) {
    .container:before {
        left: 8px;
        width: 2px;
    }
    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}


/*END OF TIMELINE*/


/*START OF FOOTER*/


.landing-scrolling-socials {
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    overflow: hidden;
    margin-top: 12px;
}

.scrolling-text {
    font-size: 45px;
    white-space: nowrap;
    animation: marquee 16s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.name {
    margin-left: 8px;
    font-size: 1.5vw;
}
  
.section {
    margin-right: 8px;
    font-size: 1.5vw;
}


/*END OF FOOTER*/


/*OTHERS*/

 
 ::selection {
      background: #f2f2f2;
  }